@page "/"

<h1>GamePass Filter</h1>

This app fetches all games from Xbox GamePass for PC and sorts them by score using the OpenCritic API (https://app.swaggerhub.com/apis-docs/OpenCritic/OpenCritic-API/0.1.0). It may take a minute to load the data. 
